.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    position: relative;
    top: -10px;
    left: 10px;
    color: grey;
    font-size: 20px;
    display: inline-block;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 20px;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
     color: gold;
  }
  .filmName {
      display: inline-block;
      width: 250px;
      margin: 10px 3px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 2px;
  }

  .film {
      border: solid silver 2px;
      border-radius: 7px;
      width: 370px;
      margin: 5px auto;
  }
  .inputFilm {
    margin: 5px auto;
  }